@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}
.container {
    background-color: hsl(0, 0%, 100%);
    width: 15%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px hsl(220, 15%, 55%) ;
}
.image img {
    width: 100%;

    border-radius: 5px;
}
.content h1 {
    font-size: 15px;
    font-weight: 700px;
    color: hsl(218, 44%, 22%);
}
.content p {
    font-size: 12px;
    font-weight: 400px;
    color: hsl(220, 15%, 55%)
}

@media (max-width: 375px) {
    .container {
        width: 80%;
    }
}